<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="FCCR_Cadastro_MDB_ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\SYS_VS2008\FCCR_Cadastro_mysql\App_Data\FCCR_Cadastro.mdb" providerName="System.Data.OleDb"/>
    <add name="FCCR_CadastroConnectionString" connectionString="Data Source=ethika-1\SQLEXPRESS;Initial Catalog=FCCR_Cadastro;integrated security=true" providerName="System.Data.SqlClient"/>
    <add name="FCCR_CadastroConnectionString2" connectionString="Data Source=ethika-1;Initial Catalog=FCCR_Cadastro;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!-- <add name="fccr_cadastro_mysql_ConnectionString_web" connectionString="server=mysql642.umbler.com;user id=fccr;password=rootroot;database=fccr_cadastro" providerName="MySql.Data.MySqlClient"/>
    <add name="fccr_cadastro_mysql_ConnectionStringx" connectionString="server=localhost;user id=root;password=root;database=fccr_cadastro" providerName="MySql.Data.MySqlClient"/>
    <add name="fccr_cadastro_mysql_ConnectionString" connectionString="server=mysql642.umbler.com;user id=fccr;password=rootroot;database=fccr_cadastro;Pooling=false;" providerName="MySql.Data.MySqlClient"/> -->
    <add name="fccr_cadastro_mysql_ConnectionString_web" connectionString="server=fccr_cadastro.mysql.dbaas.com.br;user id=ethikatecnologia;password=cadfccr;database=fccr_cadastro" providerName="MySql.Data.MySqlClient"/>
    <add name="fccr_cadastro_mysql_ConnectionStringx" connectionString="server=localhost;user id=root;password=root;database=fccr_cadastro" providerName="MySql.Data.MySqlClient"/>
    <add name="fccr_cadastro_mysql_ConnectionString" connectionString="server=fccr_cadastro.mysql.dbaas.com.br;user id=fccr_cadastro;password=cadfccr;database=fccr_cadastro;Pooling=false;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="On" defaultRedirect="ErroGenerico.aspx?DescError='.....'">
      <error statusCode="100" redirect="ErroGenerico.aspx?DescError='Código 100 - Continue'"/>
      <error statusCode="101" redirect="ErroGenerico.aspx?DescError='Código 101 - Switching Protocols'"/>
      <error statusCode="102" redirect="ErroGenerico.aspx?DescError='Código 102 - Processing'"/>
      <error statusCode="200" redirect="ErroGenerico.aspx?DescError='Código 200 - OK'"/>
      <error statusCode="201" redirect="ErroGenerico.aspx?DescError='Código 201 - Created'"/>
      <error statusCode="202" redirect="ErroGenerico.aspx?DescError='Código 202 - Accepted'"/>
      <error statusCode="203" redirect="ErroGenerico.aspx?DescError='Código 203 - Non-authoritative Information'"/>
      <error statusCode="204" redirect="ErroGenerico.aspx?DescError='Código 204 - No Content'"/>
      <error statusCode="205" redirect="ErroGenerico.aspx?DescError='Código 205 - Reset Content'"/>
      <error statusCode="206" redirect="ErroGenerico.aspx?DescError='Código 206 - Partial Content'"/>
      <error statusCode="207" redirect="ErroGenerico.aspx?DescError='Código 207 - Multi-Status'"/>
      <error statusCode="208" redirect="ErroGenerico.aspx?DescError='Código 208 - Already Reported'"/>
      <error statusCode="226" redirect="ErroGenerico.aspx?DescError='Código 226 - IM Used'"/>
      <error statusCode="300" redirect="ErroGenerico.aspx?DescError='Código 300 - Multiple Choices'"/>
      <error statusCode="301" redirect="ErroGenerico.aspx?DescError='Código 301 - Moved Permanently'"/>
      <error statusCode="302" redirect="ErroGenerico.aspx?DescError='Código 302 - Found'"/>
      <error statusCode="303" redirect="ErroGenerico.aspx?DescError='Código 303 - See Other'"/>
      <error statusCode="304" redirect="ErroGenerico.aspx?DescError='Código 304 - Not Modified'"/>
      <error statusCode="305" redirect="ErroGenerico.aspx?DescError='Código 305 - Use Proxy'"/>
      <error statusCode="307" redirect="ErroGenerico.aspx?DescError='Código 307 - Temporary Redirect'"/>
      <error statusCode="308" redirect="ErroGenerico.aspx?DescError='Código 308 - Permanent Redirect'"/>
      <error statusCode="400" redirect="ErroGenerico.aspx?DescError='Código 400 - Bad Request'"/>
      <error statusCode="401" redirect="ErroGenerico.aspx?DescError='Código 401 - Unauthorized'"/>
      <error statusCode="402" redirect="ErroGenerico.aspx?DescError='Código 402 - Payment Required'"/>
      <error statusCode="403" redirect="ErroGenerico.aspx?DescError='Código 403 - Forbidden'"/>
      <error statusCode="404" redirect="ErroGenerico.aspx?DescError='Código 404 - Not Found'"/>
      <error statusCode="405" redirect="ErroGenerico.aspx?DescError='Código 405 - Method Not Allowed'"/>
      <error statusCode="406" redirect="ErroGenerico.aspx?DescError='Código 406 - Not Acceptable'"/>
      <error statusCode="407" redirect="ErroGenerico.aspx?DescError='Código 407 - Proxy Authentication Required'"/>
      <error statusCode="408" redirect="ErroGenerico.aspx?DescError='Código 408 - Request Timeout'"/>
      <error statusCode="409" redirect="ErroGenerico.aspx?DescError='Código 409 - Conflict'"/>
      <error statusCode="410" redirect="ErroGenerico.aspx?DescError='Código 410 - Gone'"/>
      <error statusCode="411" redirect="ErroGenerico.aspx?DescError='Código 411 - Length Required'"/>
      <error statusCode="412" redirect="ErroGenerico.aspx?DescError='Código 412 - Precondition Failed'"/>
      <error statusCode="413" redirect="ErroGenerico.aspx?DescError='Código 413 - Payload Too Large'"/>
      <error statusCode="414" redirect="ErroGenerico.aspx?DescError='Código 414 - Request-URI Too Long'"/>
      <error statusCode="415" redirect="ErroGenerico.aspx?DescError='Código 415 - Unsupported Media Type'"/>
      <error statusCode="416" redirect="ErroGenerico.aspx?DescError='Código 415 - Requested Range Not Satisfiable'"/>
      <error statusCode="417" redirect="ErroGenerico.aspx?DescError='Código 417 - Expectation Failed'"/>
      <error statusCode="418" redirect="ErroGenerico.aspx?DescError='Código 418 - I'm a teapot'"/>
      <error statusCode="421" redirect="ErroGenerico.aspx?DescError='Código 421 - Misdirected Request'"/>
      <error statusCode="422" redirect="ErroGenerico.aspx?DescError='Código 422 - Unprocessable Entity'"/>
      <error statusCode="423" redirect="ErroGenerico.aspx?DescError='Código 423 - Locked'"/>
      <error statusCode="424" redirect="ErroGenerico.aspx?DescError='Código 424 - Failed Dependency'"/>
      <error statusCode="426" redirect="ErroGenerico.aspx?DescError='Código 426 - Upgrade Required'"/>
      <error statusCode="428" redirect="ErroGenerico.aspx?DescError='Código 428 - Precondition Required'"/>
      <error statusCode="429" redirect="ErroGenerico.aspx?DescError='Código 429 - Too Many Requests'"/>
      <error statusCode="431" redirect="ErroGenerico.aspx?DescError='Código 431 - Request Header Fields Too Large'"/>
      <error statusCode="444" redirect="ErroGenerico.aspx?DescError='Código 444 - Connection Closed Without Response'"/>
      <error statusCode="451" redirect="ErroGenerico.aspx?DescError='Código 451 - Unavailable For Legal Reasons'"/>
      <error statusCode="499" redirect="ErroGenerico.aspx?DescError='Código 499 - Client Closed Request'"/>
      <error statusCode="500" redirect="ErroGenerico.aspx?DescError='Código 500 - Internal Server Error'"/>
      <error statusCode="501" redirect="ErroGenerico.aspx?DescError='Código 501 - Not Implemented'"/>
      <error statusCode="502" redirect="ErroGenerico.aspx?DescError='Código 502 - Bad Gateway'"/>
      <error statusCode="503" redirect="ErroGenerico.aspx?DescError='Código 503 - Service Unavailable'"/>
      <error statusCode="504" redirect="ErroGenerico.aspx?DescError='Código 504 - Gateway Timeout'"/>
      <error statusCode="505" redirect="ErroGenerico.aspx?DescError='Código 505 - HTTP Version Not Supported'"/>
      <error statusCode="506" redirect="ErroGenerico.aspx?DescError='Código 506 - HTTP Version Not Supported'"/>
      <error statusCode="507" redirect="ErroGenerico.aspx?DescError='Código 507 - Insufficient Storage'"/>
      <error statusCode="508" redirect="ErroGenerico.aspx?DescError='Código 508 - Loop Detected'"/>
      <error statusCode="510" redirect="ErroGenerico.aspx?DescError='Código 510 - Not Extended'"/>
      <error statusCode="511" redirect="ErroGenerico.aspx?DescError='Código 511 - Network Authentication Required'"/>
      <error statusCode="599" redirect="ErroGenerico.aspx?DescError='Código 599 - Network Connect Timeout Error'"/>
    </customErrors>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <!--
          -->
        <add assembly="MySql.Data, Version=5.2.2.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=5.2.2.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>