USE [GSD_PLA]
GO
/****** Object:  Table [dbo].[LAB_RAP]    Script Date: 07/21/2014 09:18:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LAB_RAP](
	[RAP_ID] [int] IDENTITY(1,1) NOT NULL,
	[CodProdAnalise] [int] NULL,
	[CodRecebimento] [int] NULL,
	[RAP_Numero] [varchar](8) COLLATE Latin1_General_CI_AS NOT NULL,
	[RAP_Data] [datetime] NULL,
	[RAP_Categoria] [varchar](15) COLLATE Latin1_General_CI_AS NULL,
	[CodMaterial] [varchar](16) COLLATE Latin1_General_CI_AS NULL,
	[RAP_Data_Ocorrencia] [datetime] NULL,
	[RAP_Maquina] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[RAP_Lote] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[RAP_Emitente] [varchar](30) COLLATE Latin1_General_CI_AS NULL,
	[RAP_Qtde_Fornecida] [decimal](18, 3) NULL,
	[RAP_Qtde_Devolvida] [decimal](18, 3) NULL,
	[RAP_Qtde_Estoque] [decimal](18, 3) NULL,
	[RAP_Time_1] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[RAP_Time_2] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[RAP_Time_3] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[RAP_Time_4] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[RAP_Time_5] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[RAP_Problema_Umidade] [smallint] NULL CONSTRAINT [DF_LAB_RAP_RAP_Problema_Umidade]  DEFAULT ((0)),
	[RAP_Problema_Carga] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade1]  DEFAULT ((0)),
	[RAP_Problema_Cor] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade2]  DEFAULT ((0)),
	[RAP_Problema_Afloramento] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade3]  DEFAULT ((0)),
	[RAP_Problema_Po] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade4]  DEFAULT ((0)),
	[RAP_Problema_Granulometria] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade5]  DEFAULT ((0)),
	[RAP_Problema_Delaminacao] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade6]  DEFAULT ((0)),
	[RAP_Problema_Propriedade_Mecanica] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade7]  DEFAULT ((0)),
	[RAP_Problema_Manchas] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade8]  DEFAULT ((0)),
	[RAP_Problema_Flamabilidade] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade9]  DEFAULT ((0)),
	[RAP_Problema_Pintas_Pretas] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade10]  DEFAULT ((0)),
	[RAP_Problema_Quebradico] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade11]  DEFAULT ((0)),
	[RAP_Problema_Metal] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade12]  DEFAULT ((0)),
	[RAP_Problema_Oxidacao] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade13]  DEFAULT ((0)),
	[RAP_Problema_Indice_Fluidez] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade14]  DEFAULT ((0)),
	[RAP_Problema_Desmoldagem] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade15]  DEFAULT ((0)),
	[RAP_Problema_Aditivo] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade16]  DEFAULT ((0)),
	[RAP_Problema_Contracao] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade17]  DEFAULT ((0)),
	[RAP_Problema_Viscosidade] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Umidade18]  DEFAULT ((0)),
	[RAP_Problema_Degradacao] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Viscosidade1]  DEFAULT ((0)),
	[RAP_Problema_Contaminacao] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Viscosidade2]  DEFAULT ((0)),
	[RAP_Problema_Monomero] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Viscosidade3]  DEFAULT ((0)),
	[RAP_Problema_GlowWire] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Viscosidade4]  DEFAULT ((0)),
	[RAP_Problema_Mesclado] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Viscosidade5]  DEFAULT ((0)),
	[RAP_Problema_Acabamento_Superficial] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Viscosidade6]  DEFAULT ((0)),
	[RAP_Problema_Transporte] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Viscosidade7]  DEFAULT ((0)),
	[RAP_Problema_Identificacao] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Transporte1]  DEFAULT ((0)),
	[RAP_Problema_NFPedido] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Transporte2]  DEFAULT ((0)),
	[RAP_Problema_AcordoComercial] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Transporte3]  DEFAULT ((0)),
	[RAP_Problema_Embalagem] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Transporte4]  DEFAULT ((0)),
	[RAP_Problema_Entrega] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Transporte5]  DEFAULT ((0)),
	[RAP_Problema_Quantidade] [smallint] NULL CONSTRAINT [DF_Table_1_RAP_Problema_Transporte6]  DEFAULT ((0)),
	[RAP_Problema_Resultado] [decimal](18, 2) NULL CONSTRAINT [DF_LAB_RAP_RAP_Problema_Quantidade1]  DEFAULT ((0)),
	[RAP_Problema_Especificacao] [varchar](20) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Problema_Quantidade2]  DEFAULT ((0)),
	[RAP_Descricao] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_Table_1_RAP_Problema_Transporte7]  DEFAULT ((0)),
	[RAP_Acao_Descricao_1] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Problema_Transporte8]  DEFAULT ((0)),
	[RAP_Acao_Responsavel_1] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Descricao_11]  DEFAULT ((0)),
	[RAP_Acao_Prazo_1] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Descricao_11_1]  DEFAULT ((0)),
	[RAP_Acao_Realizacao_1] [datetime] NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Descricao_11_2]  DEFAULT ((0)),
	[RAP_Acao_Descricao_2] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Descricao_11_3]  DEFAULT ((0)),
	[RAP_Acao_Responsavel_2] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Responsavel_11]  DEFAULT ((0)),
	[RAP_Acao_Prazo_2] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Prazo_11]  DEFAULT ((0)),
	[RAP_Acao_Realizacao_2] [datetime] NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Realizacao_11]  DEFAULT ((0)),
	[RAP_Acao_Descricao_3] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Descricao_12]  DEFAULT ((0)),
	[RAP_Acao_Responsavel_3] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Responsavel_12]  DEFAULT ((0)),
	[RAP_Acao_Prazo_3] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Prazo_12]  DEFAULT ((0)),
	[RAP_Acao_Realizacao_3] [datetime] NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Realizacao_12]  DEFAULT ((0)),
	[RAP_Acao_Descricao_4] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Descricao_13]  DEFAULT ((0)),
	[RAP_Acao_Responsavel_4] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Responsavel_13]  DEFAULT ((0)),
	[RAP_Acao_Prazo_4] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Prazo_13]  DEFAULT ((0)),
	[RAP_Acao_Realizacao_4] [datetime] NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Realizacao_13]  DEFAULT ((0)),
	[RAP_Acao_Descricao_5] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Descricao_14]  DEFAULT ((0)),
	[RAP_Acao_Responsavel_5] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Responsavel_14]  DEFAULT ((0)),
	[RAP_Acao_Prazo_5] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Prazo_14]  DEFAULT ((0)),
	[RAP_Acao_Realizacao_5] [datetime] NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Realizacao_14]  DEFAULT ((0)),
	[RAP_Causa_Metodo] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Realizacao_51]  DEFAULT ((0)),
	[RAP_Causa_Maquina] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Causa_Metodo1]  DEFAULT ((0)),
	[RAP_Causa_MeioAmbiente] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Causa_Metodo1_1]  DEFAULT ((0)),
	[RAP_Causa_MaodeObra] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Causa_Metodo1_2]  DEFAULT ((0)),
	[RAP_Causa_MeiodeControle] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Causa_Metodo1_3]  DEFAULT ((0)),
	[RAP_Causa_Material] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Causa_Metodo1_4]  DEFAULT ((0)),
	[RAP_Porque_1] [varchar](60) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Causa_Metodo1_5]  DEFAULT ((0)),
	[RAP_Porque_11] [varchar](60) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Porque_11]  DEFAULT ((0)),
	[RAP_Porque_2] [varchar](60) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Porque_12]  DEFAULT ((0)),
	[RAP_Porque_21] [varchar](60) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Porque_13]  DEFAULT ((0)),
	[RAP_Porque_3] [varchar](60) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Porque_14]  DEFAULT ((0)),
	[RAP_Porque_31] [varchar](60) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Porque_15]  DEFAULT ((0)),
	[RAP_Porque_4] [varchar](60) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Porque_16]  DEFAULT ((0)),
	[RAP_Porque_41] [varchar](60) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Porque_17]  DEFAULT ((0)),
	[RAP_Porque_5] [varchar](60) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Porque_18]  DEFAULT ((0)),
	[RAP_Porque_51] [varchar](60) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Porque_19]  DEFAULT ((0)),
	[RAP_Causa_Raiz] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Porque_12_1]  DEFAULT ((0)),
	[RAP_Impacto] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Porque_12_2]  DEFAULT ((0)),
	[RAP_Responsavel] [varchar](50) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Porque_12_3]  DEFAULT ((0)),
	[RAP_Implantacao] [datetime] NULL CONSTRAINT [DF_LAB_RAP_RAP_Porque_12_4]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_PC_1] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Descricao_11_4]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Descricao_1] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Descricao_111]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Responsavel_1] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Responsavel_11_1]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Prazo_1] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Prazo_11_1]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Realizacao_1] [datetime] NULL CONSTRAINT [DF_LAB_RAP_RAP_Acao_Realizacao_11_1]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_PC_2] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_PC_11]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Descricao_2] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Descricao_11]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Responsavel_2] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Responsavel_11]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Prazo_2] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Prazo_11]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Realizacao_2] [datetime] NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Realizacao_11]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_PC_3] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_PC_12]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Descricao_3] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Descricao_12]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Responsavel_3] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Responsavel_12]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Prazo_3] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Prazo_12]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Realizacao_3] [datetime] NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Realizacao_12]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_PC_4] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_PC_13]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Descricao_4] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Descricao_13]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Responsavel_4] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Responsavel_13]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Prazo_4] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Prazo_13]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Realizacao_4] [datetime] NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Realizacao_13]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_PC_5] [varchar](1) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_PC_14]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Descricao_5] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Descricao_14]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Responsavel_5] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Responsavel_14]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Prazo_5] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Prazo_14]  DEFAULT ((0)),
	[RAP_AcaoDefinitiva_Realizacao_5] [datetime] NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Realizacao_14]  DEFAULT ((0)),
	[RAP_Metodo_Avaliacao] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Descricao_51]  DEFAULT ((0)),
	[RAP_Comentarios] [varchar](max) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Descricao_52]  DEFAULT ((0)),
	[RAP_Fechamento] [datetime] NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Descricao_51_1]  DEFAULT ((0)),
	[RAP_Fechamento_Responsavel] [varchar](30) COLLATE Latin1_General_CI_AS NULL CONSTRAINT [DF_LAB_RAP_RAP_AcaoDefinitiva_Descricao_51_2]  DEFAULT ((0))
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF