/* DEFAULTS
----------------------------------------------------------*/

/*Inclusão da fonte MontSerrat*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body   
{
    font-family: 'Montserrat', sans-serif !important; /*Inclui a fonte MontSerrat em todos os elementos*/
    overflow-x: hidden;
}

/*Adiciona uma transição suave às mudanças dos elementos (0.15 segundos)*/
*{
    transition: all .15s ease-in-out;
}

.form-control:disabled{
    cursor: not-allowed;
    font-size: 14px !important;
    text-align: center !important;
    color: #696969 !important;
}

a{
    text-decoration: none !important;
}

.btn-link{
    text-decoration: none !important;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6{
    font-size: 1em;
    font-weight: 500 !important;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 926px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
	top: 0px;
	left: 0px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

/* TAB MENU   
----------------------------------------------------------*/

hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

menu
{
    padding: 4px 0px 4px 8px;
}

menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

menu ul li a, menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* css que estava no head */

.popUpStyle{
    font: normal 11px auto "Trebuchet MS", Verdana;    
    background-color: #4F4F4F;
    color: #FF9900;  
    padding:6px;             
}

.popUpStyle1{
    font: normal 11px auto "Trebuchet MS", Verdana;    
    background-color: gray;
    color: #ff9900;  
    padding:6px;
    margin-left: 0px;
    filter:alpha(opacity=80);
    opacity:0.8;
}
    
.style16{
    width: 899px;
}

.style17{
    width: 100%;
}

.style18{
    height: 19px;
}

/*Deixa o elemento ocupando w-X% da tela*/
.w-90{
    width: 90%;
}

.w-60{
    width: 60%;
}

/*Altera o estilo do separador*/
hr{
    align-self: center;
    border-top: 1px dotted rgba(0, 85, 79, 0.45) !important;
}

.display-4{
    font-size: 40px !important;
}

.lead{
    font-size: 16px !important;
    font-style: italic;
}

.card{
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}

.input-group-text{
    font-size: 14px;
    width:70px;
    color: white !important;
    background-color: #00554f !important;
}

.input-group-txt-lg .input-group-text{
    font-size: 14px;
    width:150px !important;
    color: white !important;
    background-color: #00554f !important;
}

.titulo{
    font-size: 20px;
}

.ph-center::-webkit-input-placeholder {
   text-align: center;
   font-size: 14px;
}

.ph-center:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
   font-size: 14px;
}

.ph-center::-moz-placeholder {  /* Firefox 19+ */
   text-align: center; 
   font-size: 14px; 
}

.ph-center:-ms-input-placeholder {  
   text-align: center;
   font-size: 14px; 
}

.bg-logo{
    background-image: url("../Imagens/Logotipos/fccr_horizontal.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 1% center;
}

.btn-primary {
    color: #fff;
    background-color: #00554f !important;
    border-color: #00554f !important;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, .5) !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #01504b !important;
    border-color: #01504b !important;
}

.h-20{
    height: 20vh;
}

.bg-green{
    background-color: #00554f;
}

.brands{
    position: relative;
    top: 50%;
    transform: translateY(-110%); 
    color: #fff;
    word-spacing: 20px;
    font-size: 1.5em;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.footer a{
    color: #fff !important;
}

.footer a:hover{
    color: #ccc !important;
}

.footer .copy{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
}

.v-center{
    position: relative;
    top: 50%;
    transform: translateY(15%); 
}

@media screen and (max-width: 1024px){
    .footer{
        position: relative;
    }
    .v-center{
        transform: translateY(0%); 
    }
}
.select-color{ 
    text-align-last: center !important;
    font-size: 14px !important; 
} 

.select-color option[disabled] { 
    text-align: center;
    font-size: 14px; 
}

.required:after {
  content:" *"; 
  color: red;
}

.font-size-lg-4{
    font-size: 16px !important;
}

/* PROGRESS STEP */

.progress-steps {
    /* display: table; */
    table-layout: fixed;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(33px + 1em);
    margin-bottom: 16px;
    /* margin-top: 40px; */
  }
  .progress-steps > .circle {
    display: table-cell;
    text-align: center;
    position: relative;
    top: 40px;
    color: #999;
  }
  .progress-steps > .circle.active {
    color: #00554f;
    font-weight: 400;
  }
  .progress-steps > .circle.active > .number {
    background: #00837A;
    color: #fff;
  }
  .progress-steps > .circle.active::before {
    border-color: #00837A;
  }
  .progress-steps > .circle.complete {
    color: #056C48;
    font-weight: 400;
  }
  .progress-steps > .circle.complete > .number {
    background: #056C48;
    color: #fff;
  }
  .progress-steps > .circle.complete::before {
    border-color: #056C48;
  }
  .progress-steps > .circle > .number {
    box-sizing: border-box;
    display: block;
    font-size: 1.2em;
    font-weight: 300;
    border-radius: 50%;
    background: #e5e5e5;
    width: 33px;
    height: 33px;
    padding: 4px 0 0 2px;
    text-align: center;
    left: calc(50% - 16.5px);
    top: -34px;
    position: absolute;
  }
  .progress-steps > .circle::before {
    position: absolute;
    width: calc( 100% - 45px );
    content: "";
    border-bottom: dashed 1px #d4d4d1;
    left: calc( -50% + 22.5px );
    top: -18.5px;
  }
  .progress-steps > .circle:first-child::before {
    border: none;
  }
